<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>

    <h1>my name is <%= name %></h1>
    <h2> and i am leaning <%= course %></h2>
    <h3>i am <%= age %> years old </h3>
    
</body>
</html>